@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 21 33% 92%;
    --foreground: 235 18% 17%;
    --card: 21 33% 92%;
    --card-foreground: 235 18% 17%;
    --popover: 21 33% 92%;
    --popover-foreground: 235 18% 17%;
    --primary: 315 6% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 21 33% 88%;
    --secondary-foreground: 235 18% 17%;
    --muted: 21 33% 88%;
    --muted-foreground: 235 18% 37%;
    --accent: 235 16% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 21 33% 85%;
    --input: 21 33% 85%;
    --ring: 235 16% 35%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 235 18% 17%;
    --foreground: 21 33% 92%;
    --card: 235 18% 17%;
    --card-foreground: 21 33% 92%;
    --popover: 235 18% 17%;
    --popover-foreground: 21 33% 92%;
    --primary: 315 6% 60%;
    --primary-foreground: 235 18% 10%;
    --secondary: 235 18% 22%;
    --secondary-foreground: 21 33% 92%;
    --muted: 235 18% 22%;
    --muted-foreground: 21 33% 80%;
    --accent: 21 33% 85%;
    --accent-foreground: 235 18% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 18% 25%;
    --input: 235 18% 25%;
    --ring: 21 33% 85%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
